<!doctype html>
<html>
<head>
    <title>Url Shortner</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h3>URL Shortner</h3>
            
            <a href="/api/login" class="btn btn-primary btn-lg"><span class="fa fa-user"></span>  Login</a>
            <a href="/api/register" class="btn btn-primary btn-lg"><span class="fa fa-user"></span>  Register</a>
            <a href="https://github.com/Bunty9" class="btn btn-dark btn-lg"><span class="fa fa-github"></span> Bunty9</a>

            <!-- <a href="/api/login" class="btn btn-default"><span class="fa fa-user"></span> Logout</a> -->
        </div>
    </div>
</body>
</html>